
/* 
    Created on : Sep 6, 2016, 8:41:39 PM
    Author     : Ilikebunny
*/

button.approve {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding: 6px 12px;
    background: -moz-linear-gradient(
        top,
        #c8ffbf 0%,
        #72cc72 25%,
        #22a800);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#c8ffbf),
        color-stop(0.25, #72cc72),
        to(#22a800));
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #ffffff;
    -moz-box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(43,255,0,1);
    -webkit-box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(43,255,0,1);
    box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(43,255,0,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.3);
    cursor: pointer;
}

.deny {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 6px 12px;
    background: -moz-linear-gradient(
        top,
        #ffbfbf 0%,
        #cc7272 25%,
        #a80000);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffbfbf),
        color-stop(0.25, #cc7272),
        to(#a80000));
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #ffffff;
    -moz-box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(255,0,0,1);
    -webkit-box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(255,0,0,1);
    box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(255,0,0,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.3);
    cursor: pointer;
}

.compare {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 6px 12px;
    background: -moz-linear-gradient(
        top,
        #bfcaff 0%,
        #82a1ff 25%,
        #4646fa);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#bfcaff),
        color-stop(0.25, #82a1ff),
        to(#4646fa));
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #ffffff;
    -moz-box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(0,13,255,1);
    -webkit-box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(0,13,255,1);
    box-shadow:
        0px 3px 11px rgba(000,000,000,0.5),
        inset 0px 0px 8px rgba(0,13,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.3);
    cursor: pointer;
}

.queue_admin_table{
    border: 2px solid #444;
    border-radius: 6px; 
    background-color: #EEEEEE; 
    color: #333333; 
    border-collapse: separate; 
    border-spacing: 2px; 
    border-color: gray; 
    width: 100%;
}

.queue_admin_th_header{
    background: #F1F1F1; 
    background-image: -webkit-linear-gradient(bottom,#C5C5C5,#F9F9F9); 
    padding: 7px 7px 8px; 
    font-size: 18px; 
    text-align: center; 
    border-bottom: 1px solid #444;
}

.queue_admin_th_head{
    background: #F1F1F1; 
    background-image: -webkit-linear-gradient(bottom,#C5C5C5,#F9F9F9); 
    padding: 7px 7px 8px;
    font-size: 16px; 
    border-bottom: 1px solid #444;
}

.queue_admin_th_foot{
    background: #F1F1F1; 
    background-image: -webkit-linear-gradient(bottom,#F9F9F9,#C5C5C5); 
    padding: 7px 7px 8px; 
    font-size: 16px; 
    border-top: 1px solid #444;
}